<app-sidebar></app-sidebar>

<div class="row">
  <div class="col-lg-6" >
    <ul>
        <li  *ngFor="let s of pageShop" >
          <fieldset class="panel panel-success">
            <div class="panel-body">
              <p>{{s.name}}</p>
              <img width="150" height="150" src="{{s.picture}}" class="tn">
              <p>
                <button class="btn btn-danger" (click)="RemoveShop(s.id)">Remove</button>
              </p>
            </div>
          </fieldset>
        </li>
        
    </ul>
  </div>
</div>
